<tr>
    {% if pub.img %}
<!--         <td class='pubimg' width="300" height="150" style="text-align:center">
            <img src="{{pub.img}}" img width="300" />
        </td> -->
<td class="pubimg" width="220" style="padding:0; text-align:center; vertical-align:middle;">
  <img src="{{ pub.img }}"
       alt="{{ pub.title }}"
       class="js-hover-zoom"
       style="max-width:220px; max-height:120px; object-fit:contain; display:block; margin:auto;" />
</td>

    {% endif %}
    <td>
        {% if pub.site %}
            <a href="{{pub.site}}">
                {{pub.title}}
            </a>
        {% else %}
            {{pub.title}}
        {% endif %}
        <br>
        <div class="pubauthor">
            {{pub.authors}}
        </div>
        <div id="bib{{pub.short_id}}" style="display:none">
            <blockquote>
                <pre>{{pub.bib}}</pre>
            </blockquote>
        </div>
        <div id="abs{{pub.short_id}}" style="display:none">
            <blockquote>
                {{pub.abs}}
            </blockquote>
        </div>
        <div class="pubjournal">
            {% if pub.award %}
                {{pub.venue}} - {{pub.award}}
            {% else %}
                {{pub.venue}}
            {% endif %} 
            <br>
        </div>
        <div style="font-size:small">
            {% if pub.site != null %}
                <a href="{{pub.site}}">[Link]</a>
            {% endif %}
            {% if pub.bib != null %}
                <a href="javascript:copy(div{{pub.short_id}}, bib{{pub.short_id}})">[Bibtex]</a>
            {% endif %}
            {% if pub.abs != null %}
                <a href="javascript:copy(div{{pub.short_id}}, abs{{pub.short_id}})">[Abstract]</a>
            {% endif %}
            {% for link in pub.links %}
                <a href="{{link[1]}}">{{link[0]}}</a>
            {% endfor %}
        </div>
        <div id="div{{pub.short_id}}" class="pubInfo"></div>
    </td>
</tr>
